// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
font-size: 32px;
font: arial;
}

.question {

font-size: 16px;
font-weight: lighter;
}

.new {

  font-size: 12px;
  color: black;
  font-weight: lighter;
}

.answer {
  border: 2px;
  border-style: solid;
  width: 300px;
  height: 25px;
  border-radius: 5px;
  padding: 10px;
}

#NTM {
  background-color: blue;
}
